@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-faculty), ui-sans-serif, system-ui, sans-serif;
  --default-font-family: var(--font-faculty), ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }

  @media (min-width: 48rem) {
    body {
      font-size: 15px;
      line-height: 19px;
    }
  }
}
